{% extends "base.html" %}

{% block content %}
    </br></br>
    <div class="row">
    	<div class="small-centered large-centered columns mybox">
    		<center><h1>View Data</h1></center>
	    <form action="" method="post" novalidate>
	        {{ form.hidden_tag() }}
	        <p>
	            <h2>{{ form.url.label }}</h2>
	            <br>
	            {{ form.url(size=32) }}
	        </p>

	        <p>{{ form.submit() }}</p>
	    </form>
		</div>
	</div>

</br></br>

<div class="row">
	<div class="small-6 large-6 columns"> 
<img src={{ data_result.staMainImage }} width="500" height="200">
</div>

<div class="small-6 large-6 columns"> 
<h2 class="text-center">{{ data_result.staProductName }}</h2>
<p>Brand: {{ data_result.staBrand }} </p>
<p>Sale Price: ${{ dyn_result.dynPrice }} </p>
<p>Ship Price: ${{ dyn_result.dynShipPrice }} </p>
<p>In Stock: {{ dyn_result.dynStockStatus }} </p>
<p>In Stock: {{ dyn_result.dynStockMessage }} </p>
<p>Seller: {{ dyn_result.dynSeller }} </p>
</div>
</div>

	<div class="row">
		<div class="small-6 large-6 columns"> 
			<h2>Static Data</h2>
			<table>
			{% for key, value in data_result.items() %}
			    <tr>
			    	<th> {{ key }} </th>
			        <td> {{ value }} </td>
			     </tr>
			{% endfor %}
			</table>
		</div>

		<div class="small-6 large-6 columns"> 
			<h2>Dynamic Data</h2>
			<table>
			{% for key, value in dyn_result.items() %}
			    <tr>
			    	<th> {{ key }} </th>
			        <td> {{ value }} </td>
			     </tr>
			{% endfor %}
			</table>

		</div>
	</div>
{% endblock %}